.list {
  list-style: none;
  margin-bottom: 2rem;
}

.list__heading {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.2;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.disabled {
  background: none;
  outline: 1px dashed var(--navy);
  opacity: 0.2;
}

.list__item-button {
  font-size: 1rem;
  font-weight: bold;
  color: var(--navy);
  background: none;
  border: none;
  cursor: pointer;
}

.list__item-button:hover {
  color: var(--red);
}

.highlight {
  outline: 2px solid var(--red);
}
