:root {
  --white: #fff;
  --grey: #c0c0c0;
  --light-grey: #ebecf0;
  --navy: #202b3a;
  --red: #ee0634;
  --blue-gradient: linear-gradient(to bottom right, #71b0dd, #3094dc);
  --navy-gradient: linear-gradient(to bottom right, #969a9f, #202b3a);
  --yellow-gradient: linear-gradient(to bottom right, #fce100, #ffb900);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: var(--navy);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
